@charset "utf-8";
/* 出力用にマルチバイト文字を入れる */

html {
  font-size: 10px;
}
body {
  margin: 0;
  background: rgb(245, 244, 232);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;

  * {
    box-sizing: border-box;

    &:focus {
      outline: 1px solid #999;
    }
  }
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 0 0.4em;
  font-size: 2rem;
}

a {
  color: rgb(0, 123, 255);
}

.button {
  display: inline-block;
  background-color: rgb(175, 175, 175);
  color: #fff;
  padding: 0.4em 0.7em 0.5em;
  line-height: 1;
  border-radius: 0.2em;
  cursor: pointer;
  font-size: 1.6rem;

  &:hover {
    filter: brightness(120%);
  }

  &--submit {
    background-color: rgb(77, 146, 224);
    border: none;

    &:focus {
      outline: 1px solid rgb(55, 55, 55);
    }

    &[disabled="disabled"] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--delete {
    width: 4.0rem;
    background-color: rgb(200, 13, 13);
    border: none;
    background-image: url("../../images/icon_dust-box.png");
    background-size: 2.0rem auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--all-delete {
    width: auto;
    padding-right: 2em;
    background-position: top 50% right 5px;
  }
}

.todoApp {
}

.container {
  max-width: calc(100% - 4.0rem);
  width: 100.0rem;
  margin: 0 auto;
};

.add-task {
  background-color: #fff;
  padding: 1em;
  margin: 1.0rem 0 0;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.05);


  &__submit {
    display: table;
    margin: 2.0rem auto 0;
  }

  h2 {
    font-weight: bold;
  }

  .add-task_inner {
    margin: 0;

    .input-form {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      .item-name {
        width: calc(100% - 20rem);
      }
      .item-count {
        width: 9.2rem;
      }
    }
  }
}

input {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fbf9ed;
}

input[type="text"],
input[type="number"] {
  border-radius: .0rem;
  font-size: 1.6rem;
  border: 1px solid #ddd;
  padding: 0.2em;
  white-space: normal;
}

input[type="number"] {
  width: 5rem;
}


.task-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    margin: 0;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.05);

    &:not(:nth-of-type(1)) {
      border-top: 1px solid #ddd;
    }

    input[type="checkbox"] {
      border-radius: .0rem !important;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.0rem;

      &:checked {
        +.text {
          text-decoration: line-through;
          color: #8a8763;
        }
      }
    }

    .text {
      width: calc(100% - 17.0rem);
      word-break: break-all;
      border: 1px solid #ddd;
      background-color: #fbf9ed;
      padding: 0.4em;
    }

    .count {
      width: 6.0rem;
      text-align: right;
    }

    .delete {
      margin: 0 0 0 2rem;
    }

    &.no-task {
      text-align: center;
      justify-content: center;
      background: none;
      box-shadow: none;
    }
  }
}


.details {
  margin-top: 8.0rem;

  summary {
    cursor: pointer;
    margin-bottom: 2rem;
    
    &:focus {
      outline: none;
    }
  }

  article {
    &:not(:nth-of-type(1)) {
      margin-top: 4rem;
    }
  }

  h2 {
    
  }
}

@media screen and (max-width: 767px) {
  /* sp only */
  html {
    font-size: 1.8vw;
  }

  .add-task {
    .add-task_inner {
    .input-form {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;

      .item-name {
        width: 100%;
        display: block;
        margin-bottom: 5px;
      }
      .item-count {
        display: inline-block;
        width: 10.0rem;
        text-align: center;
      }
    }
    }
    
    

    &__input {
      display: block;
    }
  }

  .task-list {
    li {
      input[type=checkbox] {
        width: 2rem;
        height: 2rem;
      }
    }
  }
} /* sp only */






/* レスポンシブ用表示切り分け */
@media screen and (min-width: 768px) {
  /* pc only */
  .sp { /* SPのみ表示する */
    display: none !important;
  }
} /* pc only */

@media screen and (max-width: 767px) {
  /* sp only */
  .pc { /* PCのみ表示する */
    display: none !important;
  }
} /* sp only */

@media screen and (max-width: 100.0rem) {
  /* pc big-window only */
  .pc-big { /* PCの、大きいウィンドウのみ表示する */
    display: none !important;
  }
} /* pc big-window only */